<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="pt-BR">
<head th:include="layout :: head"></head>
<link rel="stylesheet" th:href="home.css">

<body>
    <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <br>
            <div>
                <div>
                    <h1>Vamos juntos mudar o mundo?</h1>
                </div>
            </div>

                <div class="card">
                    <div class="container">
                        <p>Hoje em média, cada brasileiro produz cerca de 1kg de <b>lixo orgânico</b> por dia. O tratamento inadequado desses 
                            resíduos gera uma série de prejuízos a sociedade e ao meio ambiente, uma vez que são responsáveis pela 
                            contaminação do solo e dos lençóis freáticos, pela proliferação de vetores transmissores de diversas doenças, 
                            e principalmente pela produção de gás metano, que é cerca de <b>27 vezes mais poluente ao aquecimento global do que o gás carbônico.</b></p>
                        
                        <p>Da mesma forma, o descarte incorreto do <b>óleo de cozinha</b>, de uso comum entre os brasileiros, é responsável 
                        pela impermeabilização e contaminação do solo, causando entupimento de redes de esgoto, poluindo rios, oceanos, e lençóis freáticos. </p>    
                        <p>Logo cuidar do seu lixo, é cuidar da sociedade em que você está inserido, e do planeta em que você e seus familiares vivem.</p>
                        <p>Pensando nisso foi criado o projeto <b>Eco Verde</b>, que transforma aquilo que antes era lixo, em vida e renda, 
                            através do processo de compostagem de resíduos orgânicos, e do processamento do óleo vegetal (óleo de cozinha), 
                            reaproveitando assim resíduos orgânicos e contribuindo para o desenvolvimento social da sua região, como para um planeta mais sustentável.</p>
                        <center><p><b>Com certeza você já ouviu falar sobre a importância da separação correta do lixo certo?</b></p></center>
                        <p>Pois bem, hoje parte do material reciclado é coletado por catadores, ou pela coleta seletiva. Mas e os resíduos orgânicos? 
                        Você já pensou em realizar um descarte mais sustentável desses resíduos, porém não possui espaço em sua residência para instalação de uma composteira, ou para o processamento do óleo vegetal?</p>
                        <p>Nós da Eco Verde pensamos em uma maneira de você contribuir para o meio ambiente com estes resíduos ao mesmo tempo que fortalece a economia da sua região e gera renda com um material que antes iria para o aterro comum.</p>
                        <br>
                        <center><h3><b>E como funciona?</b></h3></center>
                        <p>É bem simples na verdade. Você se cadastra na nossa plataforma, e recebe uma lista de locais de coleta, 
                        depois é só levar seus resíduos orgânicos e óleo vegetal até um de nossos pontos de coleta. 
                        A cada entrega você acumula pontos que posteriormente poderão ser trocados por uma série de produtos.
                        <b>Gostou da ideia?</b> Então cadastra-se e comece hoje mesmo a fazer um planeta mais sustentável e a contribuir para a sua região.</p>                    
                    </div>
                    <div class="buttons">
                        <a href="/cadastro" class="btn btn-primary">Quero particiar</a>
                        <a href="/saibamais" class="btn btn-success">Saiba Mais</a>
                    </div>
                </div>

            <div class="back-to-top">
                <a href="#">➤</a>
            </div>

        <a href="https://api.whatsapp.com/send?phone=+5547997035216 aleatório&text=Oi eu sou o Goku!" target="_blank"> <img
            id="wpp"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1021px-WhatsApp.svg.png"
            alt="icone whatsapp"></a>

        </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>