<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="pt-BR">
<head th:include="layout :: head"></head>
<link rel="stylesheet" th:href="funcionario.css">

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">

        <br>
        <div>
            <a href="/cadastro" class="btn btn-primary">Novo cooperador</a>
        </div>
        <br>

        <table class="table" id="tabcooperadores">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF/CNPJ</th>
                    <th>Email</th>
                    <th>Tipo do resíduo</th>
                    <th>Quantidade</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umCooperador, stat : ${listaCooperadores}">
                    <td th:text="${umCooperador.id}"></td>
                    <td th:text="${umCooperador.nome}"></td>
                    <td th:text="${umCooperador.cpf}"></td>
                    <td th:text="${umCooperador.email}"></td>
                    <td th:text="${umCooperador.tipoResiduo?.nome}"></td>
                    <td th:text="${totalQtds[__${stat.index}__]}"></td>
                    <td></td>
                    <td>
                     
                        <a th:href="@{'/materiais/novo/' + ${umCooperador.id}}" class="btn btn-success btn-sm">Adicionar Resíduos</a> 
                        <a th:href="@{'/alterar/' + ${umCooperador.id}}" class="btn btn-warning btn-sm">Alterar</a>
                        <button class="btn btn-danger btn-sm js-delete" th:data-id="${umCooperador.id}">Excluir</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div class="modal" tabindex="-1" id="modalcooperador">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir Cooperador</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza da exlusão?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btncancelar"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
            </div>
        </div>
    </div>
    <footer th:include="layout :: footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/scriptcoop.js}"></script>

</body>

</html>