<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="pt-BR">
<head th:include="layout :: head">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">

        <a href="/cooperador/cadastro" class="btn btn-primary">Cadastre-se</a>
        <table class="table" id="tabcooperadores">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF/CNPJ</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umCooperador : ${listaCooperadores}">
                    <td th:text="&{umCooperador.id}"></td>
                    <td th:text="&{umCooperador.nome}"></td>

                    <td th:text="&{umCooperador.cpf}"></td>
                    <td th:text="&{umCooperador.email}"></td>
                    <td>
                        <a th:href="@{'/cooperadores/alterar/' + ${umCooperador.id}}" class="btn btn-warning">Alterar</a>
                        <button class="btn btn-danger js-delete" th:data-id="${umCooperador.id}">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div class="modal" tabindex="-1" id="modalcooperador">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Cooperador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza da exlusão?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
            </div>
            </div>
        </div>
    </div>
    <footer th:include="layout :: footer"></footer>
 </body>
</html>