<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="pt-BR">
<head th:include="layout :: head"></head>
<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">

        <form th:action="@{/funcionario/(form)}" 
        method="POST" th:object="${funcionario}"> <!--Action é para onde vai nossa informação, nesse caso vai para o controlador dos clientes, essa é uma linguagem vinculada ao thymeleaf / th:object é como se eu dissese que ele vai receber algo que é {cliente} -->
            <input type="hidden" th:field="*{id}"> <!--Aqui eu escondo a opção do usuário, de forma que consigo manter o mesmo cliente pelo id, sem inserir um novo.-->
            <div class="form-group">
                <label for="txtnome">Nome: </label> <!--th:field, informo que esse elemento {}, é parte de um todo, no caso, o nome é parte de um cliente -->
                <input type="text" th:field="*{nome}" class="form-control" id="txtnome">
                <p th:if="${#fields.hasErrors('nome')}"
                th:errors="*{nome}"
                class="alert alert-danger"></p>
            </div>

            DEPOIS ALTERAR O FIELD E O ID
            <div class="form-group">
                <label for="txtCPF">CPF:</label>
                <input type="text" th:field="*{CPF}" class="form-control" id="txtendereco">
                <p th:if="${#fields.hasErrors('CPF')}"
                th:errors="*{CPF}"
                class="alert alert-danger"></p>
            </div>
DEPOIS ALTERAR O FIEL E ID
            <div class="form-group">
                <label for="txtsexo">email:</label>
                <input type="text" th:field="*{sexo}" class="form-control" id="txtsexo">
                <p th:if="${#fields.hasErrors('sexo')}"
                th:errors="*{sexo}"
                class="alert alert-danger"></p>
            </div>

            <div class="form-group">
                <label for="txtDataNascimento">Data Nascimento:</label>
                <input type="date" th:field="*{dataNascimento}" 
                class="form-control" id="txtDataNascimento">
                <p th:if="${#fields.hasErrors('dataNascimento')}"
                th:errors="*{dataNascimento}"
                class="alert alert-danger"></p>
            </div>

 -->        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </main>
    <footer th:include="layout :: footer"></footer>
 </body>
</html>