<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="layout :: head">
        <link rel="stylesheet" th:href="layout.css">
    </head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
           
            <form th:action="@{/material/(index)}"
            method="POST" th:object="${cooperador}"> 

            <table class="table" id="tabmateriais">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Tipo de Residuo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umMaterial : ${listaMateriais}">
                        <td th:text="${umMaterial.cooperador.nome}"></td>
                        <td th:text="${umMaterial.quantidade}"></td>
                        <td th:text="${umMaterial.residuotipo?.nome}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html> 