@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap%27');

nav {
    border-radius: 10px;
    border: olivedrab 3px solid;
}

/* Mudei aqui (tamanho de 13.5 para 15), porque estava dando uma mudança no tamanho da imagem quando navegava entre os links */
nav div a img {
    height: 10vh;
    border-radius: 100px; 
}

div .navbar-nav a{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
}

#area-funcionario{
    margin-left: 115vh;  
}


